*{
    margin: 0;
    padding: 0;
}
.terms-conditions{
    width: 100%;
    padding: 120px 140px;
    background-color: #F2F9FF;
    font-family: Mulish;
    

    .top-content{
        position: relative;
       

        .go-to-home{
            position: absolute;
            right: 0px;
            top: 0px;
            


            .enquiry-btn{
                background: #F2F9FF;
                color: $bg-color-wt;
                text-transform: capitalize;
                border-radius: 10px;
                display: inline-flex;
                align-items: center;
                border:1px solid #3392E5;
            
             
            
                &:hover{
                    background:$secondary-color;
                    color: $bg-color-wt;
                    i{
                        background: $primary-color;
                        
                        &:after{
                            border-left: 18px solid $primary-color;
                        }
                    }
                }
             
                i{
                    width: 61px;
                    height: 77px;
                    text-align: center;
                    line-height: 75px;
                    position: relative;
                    border-radius: 10px;
                    background: $secondary-color;
                    display: grid;
                    place-items: center;
                    @include respond-below(lg) {
                        width: 40px;
                        height: 55px;
                        line-height: 55px;
                        }
                    img{
                        margin-right: 0;
                        @include respond-below(lg) {
                            width: 25px;
                        }
                    }
                &:after{
                    content: "";
                    border-top: 12px solid transparent;
                    border-bottom: 12px solid transparent;
                    border-left: 18px solid $secondary-color;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -10px;
                }
                }
                span{
                    padding: 0px 60px;
                    color: #252525;
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    @include respond-below(lg) {
                        padding: 0px 30px;
                        font-size: 16px;
                    }
                }
            }
        }
        h5{
    
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        color: #0055A5;
        }

        h2{
            color: #252525;
           padding-top: 30px;
            font-size: 50px;
            font-weight: 300;
            line-height: 63px;
            letter-spacing: 0em;
            text-align: left;

        }
        p{
          
            padding-top: 50px;
            font-size: 18px;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
            color: #999999;

        }

        h3{
            padding-top: 50px;
            color: #252525;
            font-size: 28px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;

        }
        .points{
            padding-top: 30px;
            li{
                color: #999999;        
                font-size: 18px;
                font-weight: 400;
                line-height: 78px;
                letter-spacing: 0em;
                text-align: left;
                list-style: none;

                span{
                    i{
                        color: #fff;
                        font-size: 1.1rem;
                        padding: 8px;
                        background-color: #0055A5;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                }

            }
        }
    }
}

@media (max-width: 525px){
    .terms-conditions{
        padding: 50px 10px;

    }

}

@media (max-width: 767px){
    .terms-conditions{
        padding: 50px 10px;

    }
}

@media (max-width: 991px){
    .terms-conditions{
        padding: 50px 40px;

    }
}

@media (max-width: 1200px){
    .terms-conditions{
        padding: 100px 80px;

    }
}